<form action="#" method="post" class="form form_big">
	<fieldset class="form__fieldset">
		<legend class="form__legend">Сведения о компании</legend>
		<div class="form__row clearfix">
			<label class="form__label">Юридическое лицо</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Адрес</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Название магазина</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Профиль торговли</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Ассортимент</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Марки товаров</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Уровень цен</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Опыт работы по&nbsp;данному профилю</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label form__label_top">Существующие торговые точки, их&nbsp;адреса и&nbsp;площадь</label>
			<div class="form__wrapper"><textarea class="form__textarea"></textarea></div>
		</div>
	</fieldset>
	<fieldset class="form__fieldset">
		<legend class="form__legend">Условия аренды</legend>
		<div class="form__row">
			<div class="form__cell">
				<label class="form__label">Аренда / покупка</label>
				<div class="form__wrapper">
					<input type="text" class="form__input" />
				</div>
			</div>
			<div class="form__cell">
				<label class="form__label">Метраж</label>
				<div class="form__wrapper">
					<input type="text" class="form__input" />
				</div>
			</div>
			<div class="form__cell">
				<label class="form__label">Предположительно цена</label>
				<div class="form__wrapper">
					<input type="text" class="form__input" />
				</div>
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label form__label_top">Другие пожелания</label>
			<div class="form__wrapper"><textarea class="form__textarea"></textarea></div>
		</div>
	</fieldset>
	<fieldset class="form__fieldset">
		<legend class="form__legend">Контакная информация</legend>
		<div class="form__row clearfix">
			<label class="form__label">ФИО лица, которое будет вести переговоры</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Должность</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Контактный телефон</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Факс</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Email</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row clearfix">
			<label class="form__label">Web-side</label>
			<div class="form__wrapper">
				<input type="text" class="form__input" />
			</div>
		</div>
		<div class="form__row">
			<label class="form__label">&nbsp;</label>
			<div class="form__wrapper">
				<input type="submit" class="form__submit" value="Отправить" />
			</div>
		</div>
	</fieldset>
</form>