<div class="aside">
	<a href="/" class="logo">
		<img src="./images/logo.png" class="logo__image" alt="megapolis66" />
	</a>
	{% include 'info.html' %}
	{% include 'menu-left.html' %}
	<div class="aside__reference">
		<div class="aside__reference-title">Справочная служба:</div>
		<div class="aside__reference-phone">(343) 385-1000</div>
	</div>
	<div class="aside__reference">
		<div class="aside__reference-title">Режим работы:</div>
		<div class="aside__reference-text">пн – вс<br>с 10:00 до 22:00</div>
	</div>
	<div class="aside__reference">
		<a href="/maps.html" class="aside__schema">Карта магазина</a>
	</div>
</div>