<form action="#" method="post" class="form">
	<legend class="form__legend">Сообщение для ТРЦ «Мегаполис»</legend>
	<div class="form__row clearfix">
		<label class="form__label">Организация</label>
		<div class="form__wrapper">
			<input type="text" class="form__input" />
		</div>
	</div>
	<div class="form__row clearfix">
		<label class="form__label">Контактное лицо</label>
		<div class="form__wrapper">
			<input type="text" class="form__input" />
		</div>
	</div>
	<div class="form__row clearfix">
		<label class="form__label">Телефон</label>
		<div class="form__wrapper">
			<input type="text" class="form__input" />
		</div>
	</div>
	<div class="form__row clearfix">
		<label class="form__label">E-mail</label>
		<div class="form__wrapper">
			<input type="text" class="form__input" />
		</div>
	</div>
	<div class="form__row clearfix">
		<label class="form__label">Сообщение</label>
		<div class="form__wrapper"><textarea class="form__textarea"></textarea></div>
	</div>
	<div class="form__row">
		<div class="form__wrapper">
			<input type="submit" class="form__submit" value="Отправить" />
		</div>
	</div>
</form>