{% set news = [
	{"link": "#", "image": "./images/news.jpg", "title": "Праздник, который всегда с тобой c M.Reason", "text": "Например, рядом с входной группой расположена детская комната с лабиринтом и развивающими игрушками, где малыши могут поиграть под присмотром бэби-ситтеров, пока родители заняты покупками."},
	{"link": "#", "title": "Праздник, который всегда с тобой c M.Reason", "text": "Например, рядом с входной группой расположена детская комната с лабиринтом и развивающими игрушками, где малыши могут поиграть под присмотром бэби-ситтеров, пока родители заняты покупками."},
	{"link": "#", "image": "./images/news.jpg", "title": "Праздник, который всегда с тобой c M.Reason", "text": "Например, рядом с входной группой расположена детская комната с лабиринтом и развивающими игрушками, где малыши могут поиграть под присмотром бэби-ситтеров, пока родители заняты покупками."},
	{"link": "#", "image": "./images/news.jpg", "title": "Праздник, который всегда с тобой c M.Reason", "text": "Например, рядом с входной группой расположена детская комната с лабиринтом и развивающими игрушками, где малыши могут поиграть под присмотром бэби-ситтеров, пока родители заняты покупками."},
	{"link": "#", "image": "./images/news.jpg", "title": "Праздник, который всегда с тобой c M.Reason", "text": "Например, рядом с входной группой расположена детская комната с лабиринтом и развивающими игрушками, где малыши могут поиграть под присмотром бэби-ситтеров, пока родители заняты покупками."},
	{"link": "#", "image": "./images/news.jpg", "title": "Праздник, который всегда с тобой c M.Reason", "text": "Например, рядом с входной группой расположена детская комната с лабиринтом и развивающими игрушками, где малыши могут поиграть под присмотром бэби-ситтеров, пока родители заняты покупками."}
]%}

<div class="news">
	{% for item in news %}
		<a href="{{ item.link }}" class="news__item clearfix">
			{% if item.image %}
				<span class="news__image">
					<img src="{{ item.image }}" alt="{{ item.title }}" class="news__img" />
 				</span>
			{% endif %}
			<span class="news__body">
				<span class="news__title">{{ item.title }}</span>
				<span class="news__text">{{ item.text }}</span>
			</span>
		</a>
	{% endfor %}
	<div class="news__bottom">
		<a href="#" class="news__more">Показать еще</a>
	</div>
</div>