<g id="Layer_27">
	<path fill="none" stroke="#939598" stroke-width="0.8518" stroke-miterlimit="10" d="M1166.03,38.487"/>
	<path fill="none" stroke="#939598" stroke-width="0.8518" stroke-miterlimit="10" d="M1145.773,82.902"/>
	<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="536.0796" y1="308.0298" x2="536.0796" y2="308.0298">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<path fill="url(#SVGID_1_)" d="M536.08,308.03"/>
	<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="473.3745" y1="289.0127" x2="487.8745" y2="289.0127">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_2_)" points="478.875,298.388 487.875,290.888 487.125,279.638 473.375,290.138 	"/>
	<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="571.041" y1="323.0547" x2="591.7075" y2="323.0547">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_3_)" points="573.041,328.054 590.708,331.721 591.708,318.221 571.041,314.388 	"/>
	<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="539.7075" y1="310.8042" x2="558.041" y2="310.8042">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_4_)" points="540.041,312.721 557.375,322.388 558.041,310.721 539.708,299.221 	"/>
	<path fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" d="M107.565,224.034"/>
	<path fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" d="M292.375,125.888"/>
	<path fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" d="M251.207,148.053"/>
	<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="452.041" y1="267.2627" x2="465.6245" y2="267.2627">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_5_)" points="455.25,277.138 465.375,268.888 465.625,257.388 452.041,267.596 	"/>
	<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="450.458" y1="296.4712" x2="497.541" y2="296.4712">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_6_)" points="450.458,267.721 450.708,282.179 497.541,325.221 497.041,312.221 	"/>
	<linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="465.541" y1="284.1377" x2="512.5825" y2="284.1377">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polyline fill="url(#SVGID_7_)" points="465.541,258.055 465.542,268.888 508.375,310.221 512.583,302.846 466.5,258.388 	"/>
	<linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="473.3745" y1="289.0127" x2="487.8745" y2="289.0127">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_8_)" points="478.875,298.388 487.875,290.888 487.125,279.638 473.375,290.138 	"/>
	<linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="497.041" y1="314.3047" x2="512.541" y2="314.3047">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_9_)" points="497.041,312.888 497.541,325.888 511.875,315.888 512.541,302.721 	"/>
	<polygon fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" points="
		451.125,267.888 465.708,257.388 511.708,302.055 497.041,312.888 	"/>
	<linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="427.708" y1="297.2212" x2="501.041" y2="297.2212">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_10_)" points="427.708,255.721 427.708,275.721 497.041,338.721 501.041,322.721 	"/>
	<linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="526.041" y1="311.1377" x2="540.041" y2="311.1377">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polyline fill="url(#SVGID_11_)" points="539.708,299.221 540.041,312.721 534.708,323.054 526.041,316.054 539.708,299.221 	"/>
	<linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="548.3745" y1="320.2207" x2="560.708" y2="320.2207">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_12_)" points="560.375,310.054 560.708,330.388 548.375,328.388 	"/>
	<linearGradient id="SVGID_13_" gradientUnits="userSpaceOnUse" x1="586.3745" y1="328.3877" x2="593.3745" y2="328.3877">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polyline fill="url(#SVGID_13_)" points="593.041,317.388 593.375,339.388 586.375,338.721 591.708,318.221 	"/>
	<linearGradient id="SVGID_14_" gradientUnits="userSpaceOnUse" x1="559.3745" y1="326.3877" x2="573.041" y2="326.3877">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_14_)" points="571.041,314.388 573.041,328.054 569.375,338.388 559.375,337.054 	"/>
	<linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="597.3745" y1="333.6377" x2="606.708" y2="333.6377">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polyline fill="url(#SVGID_15_)" points="603.708,320.221 606.708,333.388 603.375,347.054 597.375,345.721 603.708,320.221 	"/>
	<linearGradient id="SVGID_16_" gradientUnits="userSpaceOnUse" x1="603.7075" y1="327.3042" x2="622.7075" y2="327.3042">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_16_)" points="606.708,333.388 621.708,334.388 622.708,322.721 603.708,320.221 	"/>
	<linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="631.7075" y1="323.2207" x2="631.7075" y2="323.2207">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<path fill="url(#SVGID_17_)" d="M631.708,323.221"/>
	<linearGradient id="SVGID_18_" gradientUnits="userSpaceOnUse" x1="647.708" y1="332.6377" x2="657.041" y2="332.6377">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_18_)" points="650.125,320.888 647.708,332.388 653.041,343.721 657.041,344.388 	"/>
	<linearGradient id="SVGID_19_" gradientUnits="userSpaceOnUse" x1="632.1245" y1="327.3252" x2="650.7495" y2="327.3252">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_19_)" points="632.375,333.638 647.708,332.388 650.75,321.013 632.125,323.013 	"/>
	<linearGradient id="SVGID_20_" gradientUnits="userSpaceOnUse" x1="633.812" y1="345.0127" x2="633.812" y2="323.6377">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_20_)" points="632.875,323.638 635.125,333.388 635.375,345.013 632.25,345.013 	"/>
	<linearGradient id="SVGID_21_" gradientUnits="userSpaceOnUse" x1="620.687" y1="344.1377" x2="620.687" y2="322.8877">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_21_)" points="621.625,322.888 619.75,334.263 621.375,344.138 	"/>
	
		<line fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" x1="487.625" y1="278.388" x2="473.625" y2="289.888"/>
	<linearGradient id="SVGID_22_" gradientUnits="userSpaceOnUse" x1="477.6245" y1="297.8877" x2="477.6245" y2="297.8877">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<path fill="url(#SVGID_22_)" d="M477.625,297.888"/>
	
		<linearGradient id="SVGID_23_" gradientUnits="userSpaceOnUse" x1="696.1982" y1="252.9346" x2="696.1982" y2="252.9346" gradientTransform="matrix(0.9971 -0.0767 0.0767 0.9971 3.6709 106.9434)">
		<stop  offset="0" style="stop-color:#404040"/>
		<stop  offset="0.0083" style="stop-color:#434343"/>
		<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
		<stop  offset="0.1605" style="stop-color:#747474"/>
		<stop  offset="0.256" style="stop-color:#858585"/>
		<stop  offset="0.3741" style="stop-color:#909090"/>
		<stop  offset="0.5399" style="stop-color:#979797"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<path fill="url(#SVGID_23_)" d="M717.25,305.747"/>
	
		<linearGradient id="SVGID_24_" gradientUnits="userSpaceOnUse" x1="716.4448" y1="237.4434" x2="716.4448" y2="237.4434" gradientTransform="matrix(0.9971 -0.0767 0.0767 0.9971 3.6709 106.9434)">
		<stop  offset="0" style="stop-color:#404040"/>
		<stop  offset="0.0083" style="stop-color:#434343"/>
		<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
		<stop  offset="0.1605" style="stop-color:#747474"/>
		<stop  offset="0.256" style="stop-color:#858585"/>
		<stop  offset="0.3741" style="stop-color:#909090"/>
		<stop  offset="0.5399" style="stop-color:#979797"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<path fill="url(#SVGID_24_)" d="M736.25,288.747"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" points="524.708,315.721 539.708,299.221 
		559.208,310.721 546.708,329.721 	"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" points="561.708,332.221 570.208,312.721 
		591.708,318.221 586.708,340.221 	"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" points="622.208,343.221 622.708,322.721 
		603.708,320.221 599.208,339.721 	"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" points="632.208,342.721 631.708,323.221 
		650.708,320.721 656.208,340.721 	"/>
</g>
<g id="wall">
	<linearGradient id="SVGID_25_" gradientUnits="userSpaceOnUse" x1="30.8584" y1="171.7969" x2="361.8965" y2="171.7969">
		<stop  offset="0" style="stop-color:#B3B3B3"/>
		<stop  offset="0.4746" style="stop-color:#B1B1B1"/>
		<stop  offset="0.6456" style="stop-color:#AAAAAA"/>
		<stop  offset="0.7675" style="stop-color:#9E9E9E"/>
		<stop  offset="0.866" style="stop-color:#8D8D8D"/>
		<stop  offset="0.9494" style="stop-color:#777777"/>
		<stop  offset="1" style="stop-color:#666666"/>
	</linearGradient>
	<polygon fill="url(#SVGID_25_)" points="30.858,246.275 361.896,64.535 361.896,95.571 34.696,279.059 	"/>
	<linearGradient id="SVGID_26_" gradientUnits="userSpaceOnUse" x1="161.6245" y1="231.3877" x2="233.8745" y2="231.3877">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_26_)" points="161.708,189.388 161.625,207.763 228.875,273.388 233.875,259.388 	"/>
	<linearGradient id="SVGID_27_" gradientUnits="userSpaceOnUse" x1="112.3745" y1="306.3877" x2="233.8745" y2="306.3877">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<path fill="url(#SVGID_27_)" d="M118.375,353.388c0-1.5,113.5-70.5,113.5-70.5l2-23.5l-121.5,75L118.375,353.388z"/>
	<linearGradient id="SVGID_28_" gradientUnits="userSpaceOnUse" x1="705.7075" y1="183.7207" x2="797.3745" y2="183.7207">
		<stop  offset="0" style="stop-color:#666666"/>
		<stop  offset="0.026" style="stop-color:#777777"/>
		<stop  offset="0.0688" style="stop-color:#8D8D8D"/>
		<stop  offset="0.1193" style="stop-color:#9E9E9E"/>
		<stop  offset="0.1818" style="stop-color:#AAAAAA"/>
		<stop  offset="0.2695" style="stop-color:#B1B1B1"/>
		<stop  offset="0.513" style="stop-color:#B3B3B3"/>
		<stop  offset="0.7143" style="stop-color:#B0B0B0"/>
		<stop  offset="0.8042" style="stop-color:#A9A9A9"/>
		<stop  offset="0.8719" style="stop-color:#9C9C9C"/>
		<stop  offset="0.9285" style="stop-color:#8A8A8A"/>
		<stop  offset="0.9777" style="stop-color:#737373"/>
		<stop  offset="1" style="stop-color:#666666"/>
	</linearGradient>
	<polyline fill="url(#SVGID_28_)" points="796.708,128.388 795.375,153.721 705.875,239.054 705.708,207.554 797.375,128.388 	"/>
	<linearGradient id="SVGID_29_" gradientUnits="userSpaceOnUse" x1="713.6245" y1="244.5127" x2="783.2495" y2="244.5127">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_29_)" points="713.625,213.388 713.625,230.638 778.375,275.638 783.25,259.388 	"/>
	<g>
		
			<linearGradient id="SVGID_30_" gradientUnits="userSpaceOnUse" x1="741.147" y1="212.478" x2="751.23" y2="212.478" gradientTransform="matrix(0.9929 -0.1192 0.1192 0.9929 3.4741 144.187)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<polygon fill="url(#SVGID_30_)" points="764.503,255.755 764.796,267.72 774.685,276.69 774.609,264.866 		"/>
		
			<linearGradient id="SVGID_31_" gradientUnits="userSpaceOnUse" x1="728.1812" y1="212.1553" x2="743.4116" y2="212.1553" gradientTransform="matrix(0.9929 -0.1192 0.1192 0.9929 3.4741 144.187)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<polygon fill="url(#SVGID_31_)" points="754.047,278.514 764.803,267.67 765.625,255.624 751.849,268.649 		"/>
		
			<linearGradient id="SVGID_32_" gradientUnits="userSpaceOnUse" x1="726.4312" y1="224.4385" x2="738.0151" y2="224.4385" gradientTransform="matrix(0.9929 -0.1192 0.1192 0.9929 3.4741 144.187)">
			<stop  offset="0" style="stop-color:#999999"/>
			<stop  offset="0.4601" style="stop-color:#979797"/>
			<stop  offset="0.6259" style="stop-color:#909090"/>
			<stop  offset="0.744" style="stop-color:#858585"/>
			<stop  offset="0.8395" style="stop-color:#747474"/>
			<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
			<stop  offset="0.9917" style="stop-color:#434343"/>
			<stop  offset="1" style="stop-color:#404040"/>
		</linearGradient>
		<polygon fill="url(#SVGID_32_)" points="750.608,268.798 751.511,280.524 764.31,290.654 762.904,278.234 		"/>
		<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" points="775.896,265.696 765.68,256.094 
			751.632,268.927 762.838,278.41 		"/>
		
			<linearGradient id="SVGID_33_" gradientUnits="userSpaceOnUse" x1="731.1274" y1="213.9346" x2="731.1274" y2="213.9346" gradientTransform="matrix(0.9929 -0.1192 0.1192 0.9929 3.4741 144.187)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<path fill="url(#SVGID_33_)" d="M754.913,269.453"/>
	</g>
	<g>
		
			<linearGradient id="SVGID_34_" gradientUnits="userSpaceOnUse" x1="726.4644" y1="235.9854" x2="736.5474" y2="235.9854" gradientTransform="matrix(0.9971 -0.0767 0.0767 0.9971 3.6709 106.9434)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<polygon fill="url(#SVGID_34_)" points="746.417,275.471 746.199,287.438 755.697,296.821 756.125,285.004 		"/>
		
			<linearGradient id="SVGID_35_" gradientUnits="userSpaceOnUse" x1="713.4995" y1="235.6631" x2="728.7271" y2="235.6631" gradientTransform="matrix(0.9971 -0.0767 0.0767 0.9971 3.6709 106.9434)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<polygon fill="url(#SVGID_35_)" points="735,297.763 746.208,287.388 747.542,275.388 733.224,287.813 		"/>
		
			<linearGradient id="SVGID_36_" gradientUnits="userSpaceOnUse" x1="711.7476" y1="247.9463" x2="723.3315" y2="247.9463" gradientTransform="matrix(0.9971 -0.0767 0.0767 0.9971 3.6709 106.9434)">
			<stop  offset="0" style="stop-color:#999999"/>
			<stop  offset="0.4601" style="stop-color:#979797"/>
			<stop  offset="0.6259" style="stop-color:#909090"/>
			<stop  offset="0.744" style="stop-color:#858585"/>
			<stop  offset="0.8395" style="stop-color:#747474"/>
			<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
			<stop  offset="0.9917" style="stop-color:#434343"/>
			<stop  offset="1" style="stop-color:#404040"/>
		</linearGradient>
		<polygon fill="url(#SVGID_36_)" points="731.977,287.91 732.379,299.663 744.735,310.33 743.859,297.861 		"/>
		<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" points="757.375,285.888 747.577,275.859 
			732.995,288.082 743.788,298.034 		"/>
	</g>
	<g>
		
			<linearGradient id="SVGID_37_" gradientUnits="userSpaceOnUse" x1="706.2163" y1="251.4775" x2="716.3003" y2="251.4775" gradientTransform="matrix(0.9971 -0.0767 0.0767 0.9971 3.6709 106.9434)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<polygon fill="url(#SVGID_37_)" points="727.417,292.471 727.199,304.438 736.697,313.821 737.125,302.004 		"/>
		
			<linearGradient id="SVGID_38_" gradientUnits="userSpaceOnUse" x1="693.2524" y1="251.1553" x2="708.48" y2="251.1553" gradientTransform="matrix(0.9971 -0.0767 0.0767 0.9971 3.6709 106.9434)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<polygon fill="url(#SVGID_38_)" points="716,314.763 727.208,304.388 728.542,292.388 714.224,304.813 		"/>
		
			<linearGradient id="SVGID_39_" gradientUnits="userSpaceOnUse" x1="691.5015" y1="263.4385" x2="703.0845" y2="263.4385" gradientTransform="matrix(0.9971 -0.0767 0.0767 0.9971 3.6709 106.9434)">
			<stop  offset="0" style="stop-color:#999999"/>
			<stop  offset="0.4601" style="stop-color:#979797"/>
			<stop  offset="0.6259" style="stop-color:#909090"/>
			<stop  offset="0.744" style="stop-color:#858585"/>
			<stop  offset="0.8395" style="stop-color:#747474"/>
			<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
			<stop  offset="0.9917" style="stop-color:#434343"/>
			<stop  offset="1" style="stop-color:#404040"/>
		</linearGradient>
		<polygon fill="url(#SVGID_39_)" points="712.977,304.91 713.379,316.663 725.735,327.33 724.859,314.861 		"/>
		<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" points="738.375,302.888 728.577,292.859 
			713.995,305.082 724.788,315.034 		"/>
	</g>
	<g>
		
			<linearGradient id="SVGID_40_" gradientUnits="userSpaceOnUse" x1="684.4473" y1="264.8145" x2="694.5283" y2="264.8145" gradientTransform="matrix(0.9998 0.0228 -0.0228 0.9998 28.9904 38.3129)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<polygon fill="url(#SVGID_40_)" points="708.647,307.709 707.241,319.595 715.758,329.876 717.359,318.16 		"/>
		
			<linearGradient id="SVGID_41_" gradientUnits="userSpaceOnUse" x1="671.4824" y1="264.4917" x2="686.71" y2="264.4917" gradientTransform="matrix(0.9998 0.0228 -0.0228 0.9998 28.9904 38.3129)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<polygon fill="url(#SVGID_41_)" points="695.07,328.755 707.254,319.546 709.775,307.738 694.293,318.679 		"/>
		
			<linearGradient id="SVGID_42_" gradientUnits="userSpaceOnUse" x1="669.7305" y1="276.7754" x2="681.3145" y2="276.7754" gradientTransform="matrix(0.9998 0.0228 -0.0228 0.9998 28.9904 38.3129)">
			<stop  offset="0" style="stop-color:#999999"/>
			<stop  offset="0.4601" style="stop-color:#979797"/>
			<stop  offset="0.6259" style="stop-color:#909090"/>
			<stop  offset="0.744" style="stop-color:#858585"/>
			<stop  offset="0.8395" style="stop-color:#747474"/>
			<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
			<stop  offset="0.9917" style="stop-color:#434343"/>
			<stop  offset="1" style="stop-color:#404040"/>
		</linearGradient>
		<polygon fill="url(#SVGID_42_)" points="693.042,318.651 692.274,330.386 703.508,342.229 703.876,329.734 		"/>
		<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" points="718.515,319.164 709.763,308.211 
			694.038,318.923 703.788,329.899 		"/>
		
			<linearGradient id="SVGID_43_" gradientUnits="userSpaceOnUse" x1="674.4277" y1="266.272" x2="674.4277" y2="266.272" gradientTransform="matrix(0.9998 0.0228 -0.0228 0.9998 28.9904 38.3129)">
			<stop  offset="0" style="stop-color:#404040"/>
			<stop  offset="0.0083" style="stop-color:#434343"/>
			<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
			<stop  offset="0.1605" style="stop-color:#747474"/>
			<stop  offset="0.256" style="stop-color:#858585"/>
			<stop  offset="0.3741" style="stop-color:#909090"/>
			<stop  offset="0.5399" style="stop-color:#979797"/>
			<stop  offset="1" style="stop-color:#999999"/>
		</linearGradient>
		<path fill="url(#SVGID_43_)" d="M697.211,319.909"/>
	</g>
	<linearGradient id="SVGID_44_" gradientUnits="userSpaceOnUse" x1="795.7075" y1="160.0547" x2="870.3745" y2="160.0547">
		<stop  offset="0" style="stop-color:#666666"/>
		<stop  offset="0.026" style="stop-color:#777777"/>
		<stop  offset="0.0688" style="stop-color:#8D8D8D"/>
		<stop  offset="0.1193" style="stop-color:#9E9E9E"/>
		<stop  offset="0.1818" style="stop-color:#AAAAAA"/>
		<stop  offset="0.2695" style="stop-color:#B1B1B1"/>
		<stop  offset="0.513" style="stop-color:#B3B3B3"/>
		<stop  offset="0.7143" style="stop-color:#B0B0B0"/>
		<stop  offset="0.8042" style="stop-color:#A9A9A9"/>
		<stop  offset="0.8719" style="stop-color:#9C9C9C"/>
		<stop  offset="0.9285" style="stop-color:#8A8A8A"/>
		<stop  offset="0.9777" style="stop-color:#737373"/>
		<stop  offset="1" style="stop-color:#666666"/>
	</linearGradient>
	<polyline fill="url(#SVGID_44_)" points="795.708,127.721 795.708,153.721 864.375,192.388 870.375,167.721 796.375,128.054 	"/>
	<linearGradient id="SVGID_45_" gradientUnits="userSpaceOnUse" x1="524.0933" y1="275.2236" x2="872.1245" y2="275.2236">
		<stop  offset="0" style="stop-color:#666666"/>
		<stop  offset="0.026" style="stop-color:#777777"/>
		<stop  offset="0.0688" style="stop-color:#8D8D8D"/>
		<stop  offset="0.1193" style="stop-color:#9E9E9E"/>
		<stop  offset="0.1818" style="stop-color:#AAAAAA"/>
		<stop  offset="0.2695" style="stop-color:#B1B1B1"/>
		<stop  offset="0.513" style="stop-color:#B3B3B3"/>
		<stop  offset="0.7143" style="stop-color:#B0B0B0"/>
		<stop  offset="0.8042" style="stop-color:#A9A9A9"/>
		<stop  offset="0.8719" style="stop-color:#9C9C9C"/>
		<stop  offset="0.9285" style="stop-color:#8A8A8A"/>
		<stop  offset="0.9777" style="stop-color:#737373"/>
		<stop  offset="1" style="stop-color:#666666"/>
	</linearGradient>
	<path fill="url(#SVGID_45_)" d="M778.349,266.335l0.025-1.447l-51,51.5l0.172,1.923c-12.24,7.529-48.779,27.019-99.485,27.322
		c-62.867,0.375-103.968-32.064-103.968-32.064v28.625c0,0,37.881,39.434,104.772,40.82c66.893,1.386,93.911-28.727,105.009-37.375
		s42.492-42.138,42.492-42.138l95.758-104.859v-31.253L778.349,266.335z"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" points="
		112.375,334.388 234.375,259.388 162.042,189.388 	"/>
	<polygon fill="#D9D9D9" points="39.923,247.365 361.896,71.538 361.896,64.535 30.858,246.275 	"/>
	<linearGradient id="SVGID_46_" gradientUnits="userSpaceOnUse" x1="261.7578" y1="419.8599" x2="524.0933" y2="419.8599">
		<stop  offset="0" style="stop-color:#BFBFBF"/>
		<stop  offset="0.5455" style="stop-color:#BDBDBD"/>
		<stop  offset="0.742" style="stop-color:#B7B7B7"/>
		<stop  offset="0.8815" style="stop-color:#ABABAB"/>
		<stop  offset="0.9941" style="stop-color:#9A9A9A"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<polygon fill="url(#SVGID_46_)" points="261.758,496.923 261.758,525.546 524.093,342.798 524.093,314.174 	"/>
	<polygon fill="#E6E6E6" points="261.758,487.25 261.758,496.923 524.093,314.174 524.093,307.332 	"/>
	<linearGradient id="SVGID_47_" gradientUnits="userSpaceOnUse" x1="30.8584" y1="385.9106" x2="261.7578" y2="385.9106">
		<stop  offset="0" style="stop-color:#666666"/>
		<stop  offset="0.0613" style="stop-color:#747474"/>
		<stop  offset="0.1675" style="stop-color:#858585"/>
		<stop  offset="0.2997" style="stop-color:#909090"/>
		<stop  offset="0.4851" style="stop-color:#979797"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<polygon fill="url(#SVGID_47_)" points="30.858,246.275 261.758,496.923 261.758,525.546 30.858,274.893 	"/>
	<polygon fill="#CCCCCC" points="39.923,247.365 261.758,487.25 261.758,496.923 30.858,246.275 	"/>
	<linearGradient id="SVGID_48_" gradientUnits="userSpaceOnUse" x1="361.8965" y1="154.603" x2="543.4351" y2="154.603">
		<stop  offset="0" style="stop-color:#4D4D4D"/>
		<stop  offset="0.0083" style="stop-color:#505050"/>
		<stop  offset="0.0796" style="stop-color:#6B6B6B"/>
		<stop  offset="0.1605" style="stop-color:#808080"/>
		<stop  offset="0.256" style="stop-color:#919191"/>
		<stop  offset="0.3741" style="stop-color:#9D9D9D"/>
		<stop  offset="0.5399" style="stop-color:#A4A4A4"/>
		<stop  offset="1" style="stop-color:#A6A6A6"/>
	</linearGradient>
	<polygon fill="url(#SVGID_48_)" points="361.896,95.571 543.435,244.671 543.435,209.201 361.896,64.535 	"/>
	<polygon fill="#CCCCCC" points="361.896,64.535 543.435,208.799 543.435,216.456 361.896,71.538 	"/>
	<linearGradient id="SVGID_49_" gradientUnits="userSpaceOnUse" x1="728.8745" y1="345.3877" x2="728.8745" y2="345.3877">
		<stop  offset="0" style="stop-color:#666666"/>
		<stop  offset="0.026" style="stop-color:#777777"/>
		<stop  offset="0.0688" style="stop-color:#8D8D8D"/>
		<stop  offset="0.1193" style="stop-color:#9E9E9E"/>
		<stop  offset="0.1818" style="stop-color:#AAAAAA"/>
		<stop  offset="0.2695" style="stop-color:#B1B1B1"/>
		<stop  offset="0.513" style="stop-color:#B3B3B3"/>
		<stop  offset="0.7143" style="stop-color:#B0B0B0"/>
		<stop  offset="0.8042" style="stop-color:#A9A9A9"/>
		<stop  offset="0.8719" style="stop-color:#9C9C9C"/>
		<stop  offset="0.9285" style="stop-color:#8A8A8A"/>
		<stop  offset="0.9777" style="stop-color:#737373"/>
		<stop  offset="1" style="stop-color:#666666"/>
	</linearGradient>
	<path fill="url(#SVGID_49_)" d="M728.875,345.388"/>
	<linearGradient id="SVGID_50_" gradientUnits="userSpaceOnUse" x1="543.4351" y1="212.4292" x2="705.9575" y2="212.4292">
		<stop  offset="0" style="stop-color:#808080"/>
		<stop  offset="0.0294" style="stop-color:#8D8D8D"/>
		<stop  offset="0.0803" style="stop-color:#9E9E9E"/>
		<stop  offset="0.1437" style="stop-color:#AAAAAA"/>
		<stop  offset="0.2326" style="stop-color:#B1B1B1"/>
		<stop  offset="0.4796" style="stop-color:#B3B3B3"/>
		<stop  offset="0.9963" style="stop-color:#808080"/>
	</linearGradient>
	<path fill="url(#SVGID_50_)" d="M705.708,207.709c-13.521-9.931-42.34-27.527-76.842-27.522
		c-44.127,0.007-85.431,33.85-85.431,33.85v30.633c0,0,35.987-34.158,86.033-30.635c35.889,2.527,63.401,16.768,76.489,24.935
		L705.708,207.709z"/>
	
		<line fill="none" stroke="#939598" stroke-width="2.4178" stroke-miterlimit="10" x1="713.625" y1="212.888" x2="784" y2="260.263"/>
</g>
<g id="Layer_21">
	<linearGradient id="SVGID_51_" gradientUnits="userSpaceOnUse" x1="543.4351" y1="257.5547" x2="592.8745" y2="257.5547">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_51_)" points="543.435,244.671 543.435,225.388 592.875,272.888 592.875,289.721 	"/>
	<linearGradient id="SVGID_52_" gradientUnits="userSpaceOnUse" x1="523.3745" y1="241.2207" x2="539.708" y2="241.2207">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_52_)" points="523.375,242.054 523.375,257.054 539.042,241.721 539.708,225.388 	"/>
	<linearGradient id="SVGID_53_" gradientUnits="userSpaceOnUse" x1="542.0415" y1="259.0542" x2="561.3745" y2="259.0542">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_53_)" points="542.042,259.388 542.042,275.054 560.042,260.388 561.375,243.054 	"/>
	<linearGradient id="SVGID_54_" gradientUnits="userSpaceOnUse" x1="502.0415" y1="250.2207" x2="542.0415" y2="250.2207">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_54_)" points="502.042,225.388 502.042,239.721 542.042,275.054 542.042,259.388 	"/>
	<linearGradient id="SVGID_55_" gradientUnits="userSpaceOnUse" x1="504.3745" y1="225.2207" x2="521.0415" y2="225.2207">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_55_)" points="504.375,225.387 504.375,240.387 520.042,225.054 521.042,210.054 	"/>
	<linearGradient id="SVGID_56_" gradientUnits="userSpaceOnUse" x1="556.3745" y1="289.8047" x2="577.0415" y2="289.8047">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_56_)" points="556.375,274.888 556.625,289.638 576.042,304.721 577.042,290.388 	"/>
	<linearGradient id="SVGID_57_" gradientUnits="userSpaceOnUse" x1="576.0415" y1="288.8047" x2="592.8745" y2="288.8047">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_57_)" points="576.042,304.721 592.042,289.721 592.875,272.888 577.042,290.388 	"/>
	<linearGradient id="SVGID_58_" gradientUnits="userSpaceOnUse" x1="557.6245" y1="273.0127" x2="575.6245" y2="273.0127">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_58_)" points="558.25,288.763 573.75,272.388 575.625,257.263 557.625,273.763 	"/>
	<linearGradient id="SVGID_59_" gradientUnits="userSpaceOnUse" x1="429.041" y1="233.8877" x2="510.041" y2="233.8877">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_59_)" points="510.041,200.721 508.708,216.055 433.375,267.055 429.041,255.055 	"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" points="
		510.375,200.388 428.375,255.388 501.042,323.055 	"/>
	<linearGradient id="SVGID_60_" gradientUnits="userSpaceOnUse" x1="592.8745" y1="281.3047" x2="670.708" y2="281.3047">
		<stop  offset="0" style="stop-color:#666666"/>
		<stop  offset="0.026" style="stop-color:#777777"/>
		<stop  offset="0.0688" style="stop-color:#8D8D8D"/>
		<stop  offset="0.1193" style="stop-color:#9E9E9E"/>
		<stop  offset="0.1818" style="stop-color:#AAAAAA"/>
		<stop  offset="0.2695" style="stop-color:#B1B1B1"/>
		<stop  offset="0.513" style="stop-color:#B3B3B3"/>
		<stop  offset="0.7143" style="stop-color:#B0B0B0"/>
		<stop  offset="0.8042" style="stop-color:#A9A9A9"/>
		<stop  offset="0.8719" style="stop-color:#9C9C9C"/>
		<stop  offset="0.9285" style="stop-color:#8A8A8A"/>
		<stop  offset="0.9777" style="stop-color:#737373"/>
		<stop  offset="1" style="stop-color:#666666"/>
	</linearGradient>
	<polyline fill="url(#SVGID_60_)" points="592.875,272.888 592.875,289.721 670.708,289.721 670.541,273.554 592.875,272.888 	"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" points="
		560.708,243.721 542.375,259.721 502.708,225.055 520.708,209.721 	"/>
	
		<line fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" x1="522.708" y1="242.388" x2="540.375" y2="225.055"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" points="
		575.708,257.054 557.041,274.387 577.041,290.387 592.875,272.888 	"/>
	<linearGradient id="SVGID_61_" gradientUnits="userSpaceOnUse" x1="542.3745" y1="259.7212" x2="542.3745" y2="259.7212">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<path fill="url(#SVGID_61_)" d="M542.375,259.721"/>
	<path fill="#CCCCCC" d="M795.042,123.054l-88.563,78.878c-14.024-9.519-45.049-27.74-77.612-28.187
		c-44.123-0.604-85.633,35.053-85.633,35.053l0.202,7.656c0,0,35.863-35.473,86.033-35.473c35.655,0,63.443,17.896,76.552,28.26
		l10.247-10.246l79.624-69.626l70.501,38.897l-93.627,99.075l-40.738,41.545v-0.159c0,0-31.434,33.052-103.966,32.669
		c-62.866-0.33-103.968-34.484-103.968-34.484v6.853c0,0,37.881,31.663,104.772,33.048c57.278,1.187,92.078-23.439,100.905-30.547
		l51.246-50.769l93.34-98.323L795.042,123.054z"/>
	<linearGradient id="SVGID_62_" gradientUnits="userSpaceOnUse" x1="573.1851" y1="212.1006" x2="573.1851" y2="212.1006">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<path fill="url(#SVGID_62_)" d="M573.185,212.101"/>
	<linearGradient id="SVGID_63_" gradientUnits="userSpaceOnUse" x1="494.0698" y1="263.3003" x2="494.0698" y2="263.3003">
		<stop  offset="0" style="stop-color:#404040"/>
		<stop  offset="0.0083" style="stop-color:#434343"/>
		<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
		<stop  offset="0.1605" style="stop-color:#747474"/>
		<stop  offset="0.256" style="stop-color:#858585"/>
		<stop  offset="0.3741" style="stop-color:#909090"/>
		<stop  offset="0.5399" style="stop-color:#979797"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<path fill="url(#SVGID_63_)" d="M494.07,263.3"/>
	
		<linearGradient id="SVGID_64_" gradientUnits="userSpaceOnUse" x1="437.7915" y1="299.209" x2="437.7915" y2="299.209" gradientTransform="matrix(0.9968 0.0801 -0.0801 0.9968 34.5518 -20.4439)">
		<stop  offset="0" style="stop-color:#404040"/>
		<stop  offset="0.0083" style="stop-color:#434343"/>
		<stop  offset="0.0796" style="stop-color:#5E5E5E"/>
		<stop  offset="0.1605" style="stop-color:#747474"/>
		<stop  offset="0.256" style="stop-color:#858585"/>
		<stop  offset="0.3741" style="stop-color:#909090"/>
		<stop  offset="0.5399" style="stop-color:#979797"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<path fill="url(#SVGID_64_)" d="M446.976,312.874"/>
	<path fill="none" stroke="#ED1C24" stroke-width="2.4178" stroke-miterlimit="10" d="M516.033,207.187"/>
	<linearGradient id="SVGID_65_" gradientUnits="userSpaceOnUse" x1="670.541" y1="254.8877" x2="705.9575" y2="254.8877">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.4601" style="stop-color:#979797"/>
		<stop  offset="0.6259" style="stop-color:#909090"/>
		<stop  offset="0.744" style="stop-color:#858585"/>
		<stop  offset="0.8395" style="stop-color:#747474"/>
		<stop  offset="0.9204" style="stop-color:#5E5E5E"/>
		<stop  offset="0.9917" style="stop-color:#434343"/>
		<stop  offset="1" style="stop-color:#404040"/>
	</linearGradient>
	<polygon fill="url(#SVGID_65_)" points="670.708,289.721 705.958,238.971 705.708,220.054 670.541,273.554 	"/>
	<polyline fill="none" stroke="#939598" stroke-width="2.4178" stroke-linejoin="bevel" stroke-miterlimit="10" points="
		705.875,219.888 669.875,273.388 592.875,272.888 543.875,226.388 	"/>
</g>