{% extends "base.html" %}

{% set stock = {
	"list":[
		{"link": "#", "image": "./images/stock1.jpg", "text": "Cовместный конкурс  Accessorize и  туроператора TUI", "date": "30 июля", "discount": "50%"},
		{"link": "#", "image": "./images/stock2.jpg", "text": "Cовместный конкурс  Accessorize и  туроператора TUI", "date": "30 августа", "discount": "20%", "color": "orange"},
		{"link": "#", "image": "./images/stock3.jpg", "text": "Cовместный конкурс  Accessorize и  туроператора TUI", "date": "30 сентября", "discount": "15%", "color": "green"},
		{"link": "#", "image": "./images/stock4.jpg", "text": "Cовместный конкурс  Accessorize и  туроператора TUI", "date": "30 октября", "discount": "35%", "color": "blue"},
		{"link": "#", "image": "./images/stock1.jpg", "text": "Cовместный конкурс  Accessorize и  туроператора TUI", "date": "30 ноября", "discount": "15%", "color": "green"},
		{"link": "#", "image": "./images/stock2.jpg", "text": "Cовместный конкурс  Accessorize и  туроператора TUI", "date": "30 декабря", "discount": "30%", "color": "blue"},
		{"end": true, "text": "второй <div class='stock__title'>розыгрыш iphone 6s</div> состоялся!"},
		{"link": "#", "image": "./images/stock4.jpg", "text": "Cовместный конкурс  Accessorize и  туроператора TUI", "date": "30 января", "discount": "10%", "color": "orange"}
	]
}%}

{% block pageClass %}page_home{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
	{{ super() }}
	{% include 'promo.html' %}
{% endblock %}

{% block content %}
	{% include 'shop.html' %}
	{% include 'banners.html' %}
	{% include 'stock.html' %}
	{% include 'new.html' %}
{% endblock %}