{% extends "base.html" %}

{% set pageTitle = "Статьи" %}

{% set breadcrumbs = [
	{"link": "/", "title": "Главная"}
]%}

{% block title %}{{ pageTitle }}{% endblock %}

{% block top %}
	<div class="page__title">
		<h1>{{ pageTitle }}</h1>
	</div>
	{% include 'breadcrumbs.html' %}
{% endblock %}

{% block content %}
	<div class="text">
		<h1>Современный</h1>
		<p>Например, рядом с входной группой расположена детская комната с лабиринтом и развивающими игрушками, где малыши могут поиграть под присмотром бэби-ситтеров, пока родители заняты покупками. Постоянные покупатели ценят собственное производство магазина, которое на новых площадях развернулись во всю ширь и уже предлогаюи новые вкусные блюда — новые виды салатов, выпечки, горячих блюд. Появился новый снэк-бар с ассортиментом горячей выпечки, бутербродов, свежевыжатых соков и горячих напитков. Открытая пекарня, работающая по новейшим французским и немецким технологиям, радует посетителей ароматом свежеиспеченного хлеба.</p>
		<p>
			<img src="./images/promo.jpg" alt="Современный" />
		</p>
		<p>Например, рядом с входной группой расположена детская комната с лабиринтом и развивающими игрушками, где малыши могут поиграть под присмотром бэби-ситтеров, пока родители заняты покупками. Постоянные покупатели ценят собственное производство магазина, которое на новых площадях развернулись во всю ширь и уже предлогаюи новые вкусные блюда — новые виды салатов, выпечки, горячих блюд. Появился новый снэк-бар с ассортиментом горячей выпечки, бутербродов, свежевыжатых соков и горячих напитков. Открытая пекарня, работающая по новейшим французским и немецким технологиям, радует посетителей ароматом свежеиспеченного хлеба.</p>
		
		<a href="/news.html" class="news__link">Читать в статьи</a> 
	</div>
{% endblock %}