@import "var";

.banners{
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 480px;
	vertical-align: top;
	min-height: 214px;

	&__item{
		margin-bottom: 20px;
	}

	&__link{
		display: block;
	}

	&__image{
		vertical-align: middle;
	}
}