@import "var";

.text{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding:0 10px;
	flex-wrap: wrap;

	&__content{
		&-inner{
			width: 520px;
		}
	}

	&__aside{
		&-inner{
			width: 180px;
		}
	}

	&__block{
		width: 100%;
	}

	&__image{
		margin-bottom: 20px;

		&-right{
			float: right;
			margin-left: 20px;
		}
	}

	&_right{
		float:right;
	}
}